/* Estilo geral do footer */
.footer {
  display: flex;
  background-color: #222; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-align: center;
  margin-top: auto; /* Faz com que o footer fique no final da tela */
  flex-direction: column;
  align-items: center;
}

/* Conteúdo do footer */
.footer-content {
  display: flex;
  justify-content: space-between; /* Distribui as seções igualmente */
  margin-bottom: 10px; /* Espaçamento entre as seções e a parte inferior */
  flex-wrap: wrap; /* Permite que as seções se ajustem em telas menores */
  width: 100%; /* Garante que o conteúdo ocupe 100% da largura */
  padding: 0 10px; /* Adiciona um pequeno preenchimento lateral para evitar que o conteúdo toque as bordas */
}

/* Seções individuais dentro do footer */
.footer-section {
  padding: 5 10px;
  box-sizing: border-box; /* Inclui padding na largura */
  flex-basis: 33%;
}

/* Cabeçalho de cada seção */
.footer-section h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Parágrafos e links dentro das seções */
.footer-section p,
.footer-section .social-links a {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ddd; /* Cor de texto mais suave */
  text-decoration: none;
}

/* Links de redes sociais */
.social-links a {
  margin: 0 10px;
  color: #ddd;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #7f0070; /* Cor de hover para os links */
}

/* Estilo da parte inferior do footer */
.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Garante que o footer-bottom ocupe toda a largura */
  text-align: center; /* Alinha o texto no centro */
}


/* Responsividade: para telas menores */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Empilha as seções em telas menores */
    align-items: center; /* Centraliza as seções */
  }

  .footer-section {
    max-width: 90%; /* Permite que as seções ocupem até 90% da largura da tela */
    margin-bottom: 10px; /* Reduz a margem inferior */
    width: 100%;
  }

  .footer-bottom {
    font-size: 12px; /* Ajusta o tamanho da fonte */
    margin-top: 10px; /* Diminui a margem superior */
  }

  .social-links a {
    margin: 0 8px; /* Ajusta o espaçamento entre os ícones */
  }
}