/* Contêiner principal que envolve o header e a lista de produtos */
.main-container {
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  height: 100%; /* Faz com que o container ocupe a altura total da tela */
  padding-top: 220px; /* Ajuste a altura do header */
  min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
}

/* Estilos para cada produto */
.product-list li {
  width: 100%;
  max-width: 300px; /* Ajusta o tamanho dos produtos */
  margin-bottom: 20px;
  margin-left: 50px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .product-list {
    flex-direction: column; /* Organiza os produtos em uma coluna */
  }
}
